
.review_content-size {
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


    .review_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .review_person {
            margin-top: 10px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }

        .review_person-name {
            margin-top: 20px;
            color: var(--color-primary);
        }

        .review_person-profession {
            margin-top: 10px;
            font-size: 15px;
        }

        .review_person-description {
            margin-top: 20px;
            font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            line-height: 1.5em;
            font-style: italic;
            padding: 10px;
            overflow: hidden;
            height: 60px;
        }   